@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --main-color: #310A57;
  --sub-color: #B9B9B9;
  --star-color: #FFBE26;

}
body {
  max-width: 1920px;
  margin: auto;
  font-family: 'Noto Sans KR', sans-serif;
}
.inner {
  width: 1300px;
  margin: auto;
}
.mainVisual_bg {
  height: 823px;
  border: 1px solid #000;
  background-image: url(../images/workspace-1280538_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.mainVisual_bg::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.500);
  position: absolute;
}
/* header */
.header-inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  color: white;
}
.logo a {
  font-size: 1.5rem;
  font-weight: 900;
  position: relative;
}
/* nav */
.nav>ul {
  display: flex;
  justify-content: space-between;
  width: 765px;
  text-align: center;
}
.nav>ul>li>a {
  font-weight: 900;
  padding-bottom: 10px;
}
.nav>ul>li>a:hover {
  color: var(--sub-color);
}
.nav>ul>li {
  position: relative;
}
.nav-content {
  width: 130px;
  padding: 30px 0;
  display: none;
  background-color: white;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.nav-content::before {
  content: '';
  width: 83px;
  height: 5px;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.nav-content a {
  display: block;
  text-align: center;
  font-size: 0.87rem;
  color: #000;
  padding: 5px;
}
.nav-content a:hover {
  color: var(--main-color);
  background-color: #d9d9d9;
}
/* mainVisual */
.mainVisual {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.mainVisual-inner {
  color: white;
  text-align: center;
}
.mainVisual h2 {
  width: 750px;
  font-size: 3.625rem;
  margin: auto;
  line-height: 4.5rem;
  font-weight: 900;
}
.mainVisual p {
  font-size: 1.25rem;
  margin: 50px 0;
  font-weight: 300;
}
.mainVisual button {
  height: 48px;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 900;
}
.nowBtn {
  width: 185px;
  background-color: #bdbdbd;
  margin-right: 0.9rem;
}
.nowBtn:hover {
  background-color: #7e7e7e;
}
.moreBtn {
  width: 157px;
  background-color: transparent;
  border: 1px solid #fff;
}
.moreBtn:hover {
  background-color: var(--sub-color);
}

/* choose */
.choose {
  height: 732px;
  background-color: #eee;
  position: relative;
}
.choose-inner {
  height: 420px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: auto auto;
  align-content: space-between;
  justify-content: space-between;
}
.choose-top {
  display: flex;
  align-items: end;
  margin-bottom: 40px;
  grid-column: 1/3;
}
.choose-top h3 {
  margin-right: 1rem;
  color: var(--main-color);
  font-weight: 900;
  font-size: 2.5rem;
}
.choose-top span {
  color: var(--sub-color);
  font-size: 0.87rem;
}
.choose-content {
  font-size: 00.87rem;
  color: var(--sub-color);
}
.con-title {
  display: flex;
  position: relative;
  bottom: -2px;
}
.con-title a {
  display: block;
  padding: 20px;
  color: var(--sub-color);
  background-color: white;
  border-left: 1px solid var(--sub-color);
  border-top: 1px solid var(--sub-color);
  border-bottom: 1px solid #000;
}
.con-title a.active {
  border: 1px solid #000;
  border-bottom: 1px solid #fff;
  position: relative;
}
.con-title a.active::before {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
}
.con-title a:nth-child(3) {
  border-right: 1px solid var(--sub-color);
}
.chooseCon {
  width: 995px;
  height: 280px;
  background-color: white;
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid #000;
}
.choose-content > div p {
  width: 732px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.con-text {
  height: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 0;
}
.con-text:hover {
  /* text-decoration: underline black; */
  box-shadow: inset 0px -1px rgba(0, 0, 0, 0.5);
}
.con-text:hover p {
  color: var(--main-color);
}
.con-text span:nth-child(1) {
  width: 62px;
  height: 21px;
  background-color: #d9d9d9;
  text-align: center;
  line-height: 21px;
  border-radius: 5px;
}
/* card 구간 */
.chooseCard {
  width: 280px;
  height: 317px;
  border: 1px solid var(--sub-color);
  margin-top: 1.307rem;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 0;
  background-color: white;
}
.card-head {
  border-bottom: 1px solid var(--sub-color);
}
.chooseCard h4 {
  font-weight: 900;
  padding: 10px;
}
.card-content {
  height: 244px;
  box-sizing: border-box;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-content p,
.card-content a {
  font-size: 0.87rem;
  color: var(--sub-color);
}
.card-content a {
  position: relative;
  left: -70px;
  color: var(--main-color);
  font-weight: 900;
}
.card-content a:hover {
  text-decoration: underline;
}
/* business */
.business {
  height: 1000px;
  padding-top: 50px;
}
.business-inner {
  position: relative;
}
.business-top {
  text-align: center;
}
.business h3 {
  color: var(--main-color);
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 20px;
  line-height: 60px;
}
.business p {
  font-size: 0.87rem;
  color: var(--sub-color);
  line-height: 1.5rem;
  margin-bottom: 40px;
}
.business-middle video {
  display: block;
  margin: auto;
  position: relative;
}
.business-middle::before {
  content: '';
  width: 1800px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translatex(-50%);
}
/* team */
.team {
  height: 732px;
  text-align: center;
}
.team-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.team-top h3 {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--main-color);
  margin-bottom: 15px;
}
.team-top p {
  font-size: 0.87rem;
  color: var(--sub-color);
  line-height: 20px;
}
.team-cardWrap {
  width: 1046px;
  display: flex;
  justify-content: space-between;
}
.team-card {
  height: 373px;
  border: 1px solid #eee;
}
.team-cardContent {
  height: 142px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team-cardContent h5 {
  font-weight: 900;
}
.team-cardContent p {
  margin: 1rem 0;
  font-size: 0.87rem;
}
.team-icon img {
  cursor: pointer;
}
.team-icon img:nth-child(2) {
  margin: 0 10px;
}
/* client */
.client {
  height: 590px;
  background-color: #f3f3f3;
}
.client-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.client-top {
  text-align: center;
}
.client-top>h3 {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--main-color);
  margin-bottom: 20px;
}
.client-top>p {
  font-size: 0.87rem;
  color: var(--sub-color);
  line-height: 1.5rem;
  margin-bottom: 5rem;
}
.client-content {
  display: flex;
  justify-content: space-between;
}
.client-item {
  width: 282px;
  height: 235px;
  padding-left: 20px;
  border: 1px solid #dedede;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
}
.client-item>h5 {
  color: var(--star-color);
  font-size: 1.5rem;
}
.client-item>p {
  font-size: 0.87rem;
  color: var(--sub-color);
  line-height: 1.5rem;
} 
.client-profile {
  display: flex;
  align-items: center;
}
.client-profile img {
  margin-right: 1rem;
}
.profile-text {
  font-size: 0.87rem;
}
.profile-text>h6 {
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 0.6rem;
}
.profile-text>p {
  font-weight: 600;
}

/* form */
.form {
  background-color: #d4d3d3;
}
.form-inner {
  width: 910px;
  height: 681px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-top {
  color: var(--main-color);
  margin-bottom: 4rem;
}
.form-top h4 {
  font-weight: 900;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.form-top h3 {
  font-weight: 900;
  font-size: 2.5rem;
}
.form form {
  width: 910px;
  height: 280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  
}
.form form input,
.form form select {
  height: 50px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
}
.form form select,
.form form input::placeholder,
.form form .grid06::placeholder {
  color: var(--sub-color);
  font-size: 0.87rem;
}


.grid01 {
  grid-column: 1/2;
}
.grid02 {
  grid-column: 2/3;
}
.grid03 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.grid04 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.grid05 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.grid06 {
  grid-column: 1/4;
  grid-row: 3/4;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
}
/* banner */
.banner {
  height: 142px;
}
.banner-inner {
  width: 1050px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-left h3 {
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.banner-left p {
  font-size: 0.87rem;
  color: var(--sub-color);
}
.banner-btn {
  width: 163px;
  height: 58px;
  font-size: 0.87rem;
  font-weight: 900;
  border-radius: 10px;
  border: none;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
}
.banner-btn:hover {
  background-color: var(--sub-color);
}
/* footer */
.footer {
  height: 453px;
  background-color: #252b42;
  color: white;
}
.footer-inner {
  width: 1050px;
}
.footer-top {
  height: 142px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-top h3 {
  font-size: 1.5rem;
  font-weight: 900;
}
.footer-iconBox {
  padding: 0 2rem;
}
.footer-iconBox img {
  padding: 0.5rem;
  cursor: pointer;
}
.footer-line {
  width: 100%;
  height: 1px;
  background-color: #364067;
}
.footer-top .inner {
  height: 100%;
}
.footer-middle {
  height: 310px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-content: space-between;
  padding: 70px 0;
  box-sizing: border-box;
}
.footer-middle h5 {
  font-weight: 900;
}
.footer-middle p {
  color: var(--sub-color);
  font-weight: 600;
  font-size: 0.87rem;
}
.ft-middleItem {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ft-middleItem p {
  cursor: pointer;
}
.footer-middle form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-self: start;
  position: relative;
}
.footer-middle form input {
  display: block;
  width: 263px;
  height: 58px;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 5px 0 0 5px;
}
.footer-middle form p {
  font-size: 0.75rem;
}
.footer-middle form input::placeholder {
  font-size: 0.87rem;
  color: var(--sub-color);
}
.footer-btn {
  width: 117px;
  height: 58px;
  background-color: var(--main-color);
  border: none;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.footer-btn:hover {
  background-color: var(--sub-color);
}
.footer-input {
  display: flex;
  align-items: center;
  margin-top: 1.3rem;
  margin-bottom: 0.8rem;
}
.footer-bottom {
  height: 74px;
  background-color: var(--sub-color);
  line-height: 74px;
}
.footer-inner {
  height: 100%;
  font-size: 0.87rem;
  color: white;
  font-weight: 600;
}